/* -- General settings -- */
:root {
    --Cyan: hsl(179, 62%, 43%);
    --Bright-Yellow: hsl(71, 73%, 54%);

    --Light-Gray: hsl(204, 43%, 93%);
    --Grayish-Blue: hsl(218, 22%, 67%);
    --White: #fff;
}

html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
    font-size: 1em;
    font-family: 'Karla', sans-serif;
    line-height: 1.6em;
    background: var(--Light-Gray);
}

/* -- Main/card -- */
.card {
    margin: 2em auto;
    max-width: 21.875em;
    display: grid;
}

section {
    padding: 1.5em;
}

/* Section JOIN */
#join {
    background: var(--White);
    border-radius: 0.4em 0.4em 0 0;
}

.card-heading {
    color: var(--Cyan);
    font-size: 1.6em;
}

.guarantee {
    color: var(--Bright-Yellow);
    font-weight: 700;
}

.text {
    color: var(--Grayish-Blue);
    font-weight: 400;
}

/* Section Subscription */
#sub {
    background: var(--Cyan);
    color: var(--Light-Gray);
}

.sub-heading, .why_us-heading {
    font-size: 1.4em;
    margin-top: 0;
}

.sub-price-p {
    display: flex;
    align-items: center;
}

.sub-price {
    font-size: 2em;
    font-weight: 700;
}

.month {
    opacity: 0.5;
    margin-left: 1em;
}

.btn-sign_up {
    text-decoration: none;
    text-align: center;
    color: var(--Light-Gray);
    font-weight: 700;
    background: var(--Bright-Yellow);
    border-radius: 0.3em;
    padding: 1em;
    margin-top: 2em;
    display: block;
}

.btn-sign_up:hover, .btn-sign_up:focus {
    background: var(--Light-Gray);
    color: var(--Bright-Yellow);
}

/* Section Why us */
#why_us {
    background: var(--Cyan);
    border-radius: 0 0 0.4em 0.4em;
    opacity: 0.7;
    color: var(--Light-Gray);
}

.why_us-list {
    list-style: none;
    opacity: 0.8;
    padding: 0;
    line-height: 1.4em;
}

/* -- Footer signature -- */
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

/* -- Media Queries -- */
@media screen and ( min-width: 1000px ) {
    .card {
        margin: 13% auto;
        max-width: 40em;
        grid-template-columns: 1fr 1fr;
    }

    section {
        padding: 2em;
    }

    #join {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    #sub {
        border-bottom-left-radius: 0.4em;
    }

    #why_us {
        border-radius: 0 0 0.4em 0;
    }
}